rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /drawing_images/{companyId}/{projectId}/{fileId} {
      allow read: if request.auth.uid != null
      // doesn't work, cannot fine comppany_id, it is only able to fine the document id
      // allow read: if firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).company_id == companyId
    }
    match /drawing_images/{companyId}/{fileId} {
          allow read: if request.auth.uid != null
          // doesn't work, cannot fine comppany_id, it is only able to fine the document id
          // allow read: if firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).company_id == companyId
    }
  }
}

